<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="<%= track.album.images[1].url %>">
        <p><%= track.artists[0].name %></p>
        <p><%= track.name %></p>
    </header>

    <main>
       <ul>
        <% messages.forEach(function(message){ %>
        <li><%= message.date %> <%= message.username %> <%= message.message %></li>
        <% }) %>
       </ul>
        <form method="post">
            <input name="message" type="text">
            <input name="userID" type="hidden" value="<%= userID %>">
            <button type="submit">Send</button>
        </form>
    </main>

    <aside>
        <form method="post" action="/change-username">
            <input name="username" type="text">
            <input name="userID" type="hidden" value="<%= userID %>">
            <button type="submit">OK</button>
        </form>
    </aside>
</body>
</html>
